/* Add your styles here */

.movies-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.movie-card{
  border: none;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  will-change: transform;
}

.movie-card:hover {
  transform: scale(1.1);
  will-change: transform;

}

.movie-card img {
  width: 100%; 
  height: auto;
  object-fit: cover;
  border-bottom: 2px solid #8cad79;
}

.movie-card h2 a {
    text-decoration: none;
    color: #66437e;
    font-weight: bold;
    display: block;
    padding: 5px 0;
    transition: color 0.3s;
    border: 1px solid #437e79;
    border-radius: 5px;
    background-color: rgb(215, 246, 250);
  }
  .movie-card a:hover {
    color: #ddb1b1;
  }

  /* Responsive Adjustments */
  @media (max-width: 1024px) {
    .movies-grid {
      grid-template-columns: repeat(3, 1fr); 
  }
  
  @media (max-width: 768px) {
    .movies-grid {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 480px) {
    .movies-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  