/* Add your styles here */

.movies-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.movie-card{
  border: none;
  border-radius: 8px;
  overflow: hidden;
  will-change: transform;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: 1px solid #437e79;
  background-color: rgba(215, 246, 250, 0.3);
}

.movie-card:hover {
  transform: scale(1.1);
  will-change: transform;

}

.movie-card img {
  width: 100%; 
  height: auto;
  object-fit: cover;
  border-bottom: 2px solid #8cad79;
}


.movie-card h2 a {
  text-decoration: none;
  color: #66437e;
  font-weight: bold;
  display: block;
  padding: 6px 10px;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  border: 0px solid #437e79;
  border-radius: 5px;
  background-color: rgba(82, 157, 167, 0.3);
}


  .movie-card a:hover {
    color: #f03514;
    background-color: rgba(32, 139, 64, 0.3);
  }

  /* Responsive Adjustments */
  @media (max-width: 1024px) {
    .movies-grid {
      grid-template-columns: repeat(3, 1fr); 
  }
}
  @media (max-width: 768px) {
    .movies-grid {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 480px) {
    .movies-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
