.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: transparent;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #222;
  border-radius: 50px;
  padding: 5px;
  overflow: hidden;
  width: 100%;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

.search-input-wrapper input {
  width: 100%;
  padding: 12px 50px 12px 20px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  background-color: black;
  color: #fff;
  outline: none;
}

.search-button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}


.genre-dropdown {
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
<<<<<<<<< Temporary merge branch 1
  background-color: rgba(82, 157, 167, 0.3);
=========
  background-color:  rgba(82, 157, 167, 0.3);
>>>>>>>>> Temporary merge branch 2
  color: black;
  border: 2px solid #ccc;
  border-color: #007bff; 
  border-radius: 25px;
  cursor: pointer;
}

.genre-dropdown option {
  background-color: black;
  color: #fff;
}

.search-button:hover,
.genre-dropdown:hover {
  opacity: 0.8;
}

